@charset "UTF-8";

#content {
	overflow: auto;
}



#nav, #feature, #footer {
	margin: 0.05%;
}


#nav, #footer {
	background-color: #efefef;
	padding: 0.5em 0;
}



* {
	font-family: Arial, sans-serif;
	color: #665544;

}
html, body {margin:0; padding:0}
body {
background-color:white;
margin:5px 5px 10px 10px;
}
h1 {
font-family:arial, sans-serif;
font-size:100%;
color:black;
background-color:silver;
text-align:center;
}
h2 {
font-family:trebuchet;
font-size:80%;
color:black;
background-color:gray;
text-align:center;
}
h3 {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-align:left;
}
p {
font-family:arial, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-align:center;
margin-left:0;
margin-right:0;
}
li {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-align:center;
margin-left:0;
margin-right:0;
}
a:link {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-decoration:underline;
}
a:visited {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-decoration:underline;
}
a:hover {
font-family:verdana, sans-serif;
font-size:100%;
color:black;
background-color:transparent;
text-decoration:underline;
}
a:active, a:focus {
font-family:verdana, sans-serif; font-size:100%; color:black; background-color:transparent; text-decoration:underline; }
table {
border-color:#696969;
border-style:outset;
border-width:3px;
}
td {
font-family:georgia;
font-size:80%;
color:black;
text-align:left;
background-color:transparent;
border-color:white;
border-style:inset;
border-width:3px;
}
